// todo standardize page id
#about-page {

  .cpal-defined .text, .where-we-work .text {
    font-weight: 500;
    font-size: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
    line-height: 25px;
    /* or 125% */
    letter-spacing: -1px;
    color: $very-dark-green;
  }


  
  // _______________RESPONSIVE SIZING_______________ //
  //\\//\\//\\//\\/ MOBILE (and larger) /\\//\\//\//
  
  //\\//\\//\\//\\/ TABLET (and larger) /\\//\\//\//
  @media screen and (min-width: $md-start) {

  }

  //\\//\\//\\//\\/ DESKTOP /\\//\\//\//
  @media screen and (min-width: $xl-start) {
  }

  // _______________END RESPONSIVE SIZING_______________ //
  
  
}