.custom-link {
  
  font-size: 14px;
  transition: color .2s ease;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  .right-arrow svg {
    transition: margin-left .3s ease;
  }
  &:hover {
    .right-arrow svg {
      margin-left: 14px;
      stroke: $cinnabar;
    }
    color: $cinnabar;
  }
  cursor: pointer;
  
  // _figma_
  line-height: 40px; //25px;
  /* or 156% */
  letter-spacing: 0.22px;  
  color: $black;
  // _______
  
  display: inline-block;
  
  &.underlined {
    padding: 0 2rem;
    border-bottom: solid $black 1px;
    &:hover {
      border-bottom-color: $cinnabar;
    }
  }

  .right-arrow {
    display: inline-block;
    svg {
      stroke: black;
      width: 11px;
      height: 8px;
      margin-left: 8px;
    }
  }
}