$inter-section-breath-xs: 6 * $spacer - $q-breath;
$outer-section-breath-xs: 8 * $spacer - $q-breath;
$method-breath-xs: 7 * $spacer;
  
$inter-section-breath-md: 9 * $spacer - $q-breath;
$outer-section-breath-md: 10 * $spacer - $q-breath;
$method-breath-md: 9 * $spacer;

$inter-section-breath-xl: 10 * $spacer - $q-breath;
$outer-section-breath-xl: 12 * $spacer - $q-breath;
$method-breath-xl: 11 * $spacer;

#faq-page {
  .hero-square {
    .color-section {
      background: $old-lace;

      .content {
        // margin-right: 2 * $column;
        // max-width: 700px;
      }
    }
  }

  .side-menu {
    // applies to both menus
    z-index: 90;
    position: sticky;
    position: -webkit-sticky;
    top: $sticky-header-height;
    color: $cod-gray;    
    a {
      // display: block;
      cursor: pointer;
      &.active {
        color: $chalet-green;
      }
      font-weight: $font-weight-bold;
    }

    .jump, .menu-title {
      display: inline-block;
      padding-bottom: 3 * $spacer;
    }
    .jump {
      font-weight: $font-weight-bold;
      font-size: 16px;
      // line-height: 25px;
      letter-spacing: -0.5px;
    }     

    .menu-title {
      font-size: 26px;
      line-height: 1; // 30px;
      letter-spacing: -1px;
    }

    @include media-breakpoint-up(xl) {
      transform: translate(0, $outer-section-breath-xl + $q-breath);

      .jump, a {
        padding-bottom: 3 * $spacer;
      }
      .jump {
        font-size: 20px;
        // line-height: 25px;
        letter-spacing: -0.5px;
      }
      a {
        font-size: 44px;
        // line-height: 58px; // 77px;
        letter-spacing: -1.5px;
      }
    }
  }
  .side-menu.normal {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      padding-left: $column;
      transform: translate(0, $outer-section-breath-md + $q-breath);
      height: 0; // trick to keep it from forcing question sections down
    }
  }
  .side-menu.mobile {
    @include media-breakpoint-up(md) {
      display: none;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    .jump {
      padding: 1.5 * $spacer 0;
      width: 100%; //110%;
      text-align: center;
      background: $white;
      border-bottom: 1px solid $alto;
    }

    &:not(.active) .sections {
      display: none;
    }
    .sections {
      padding-top: 2 * $spacer;
      text-align: center;
      border-bottom: 1px solid $alto;
      background: $white;
      position: absolute;
      top: 100%;
      width: 100%; //110%;
    }
  }

  .section-title {
    font-weight: $font-weight-bold;
    font-size: 26px;
    line-height: 1;
    letter-spacing: -1px;
    padding-top: $q-breath;
    padding-bottom: $q-after-breath - $q-breath;
  }
  @include media-breakpoint-up(md) {
    .section-title {
      display: none;
    }
  }

  .questions {
    padding-top: $inter-section-breath-xs;
    padding-bottom: $inter-section-breath-xs;

    @include media-breakpoint-up(md) {
      padding-top: $inter-section-breath-md;
      padding-bottom: $inter-section-breath-md;
    }
    @include media-breakpoint-up(xl) {
      padding-top: $inter-section-breath-xl;
      padding-bottom: $inter-section-breath-xl;
    }
  }
  .faq-section.first .questions {
    padding-top: $outer-section-breath-xs;

    @include media-breakpoint-up(md) {
      padding-top: $outer-section-breath-md;
    }
    @include media-breakpoint-up(xl) {
      padding-top: $outer-section-breath-xl;
    }
  }
  .faq-section.last .questions {
    padding-bottom: $outer-section-breath-xs;

    @include media-breakpoint-up(md) {
      padding-bottom: $outer-section-breath-md;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: $outer-section-breath-xl;
    }
  }

  .faq-section {

    &.even {
      background: $alabaster;
    }

    .question {      
      @include faq-question-styles;
    }
  }


  .methods-paper-section {
    .methods-paper {
      background: $tower-gray;
    
      .title {
        font-weight: $font-weight-bold;
        font-size: 60px;
        line-height: 65px;
        letter-spacing: -2px;
        color: $shark;
      }

      .description {
        .text {
          font-weight: normal;
          color: $cape-cod;
          mix-blend-mode: normal;
        }
      }

      .content {
        margin-left: $column;
        margin-right: $column;
      }
    }

    .custom-link {
      display: table;
    }

    .section-title {
      padding-top: 0;
      padding-bottom: 6 * $spacer;
    }

    .row {
      padding-top: $method-breath-xs;
      padding-bottom: $method-breath-xs;
    }
    .description {
      .text {
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 5 * $spacer;
      }
    }

    @include media-breakpoint-up(md) {
      .row {
        padding-top: $method-breath-md;
        padding-bottom: $method-breath-md;
      }

      .description {
        .text {
          padding-bottom: 4 * $spacer;
        }
      }
    }
      
    @include media-breakpoint-up(xl) {
      .methods-paper .content {
        margin-left: $column;
        margin-right: 2 * $column;
      }

      .row {
        padding-top: $method-breath-xl;
        padding-bottom: $method-breath-xl;
      }

      .description {
        .text {
          font-size: 20px;
          line-height: 27px;
          padding-bottom: 4 * $spacer;
        }
      }
    }
  }
}
