$color-section-flex: 350px 10 7; // 7
$image-section-flex: 250px 5 5;

$menu-height: 21px;
$mobile-logo-height: 38px;

// TODO: impl @include media-breakpoint-up
.hero-square {
  // styles for only square hero

  // _______________RESPONSIVE SIZING_______________ //

  //\\//\\//\\//\\/ MOBILE (and larger) /\\//\\//\//
  flex-direction: column-reverse; // so image section is on top
  
  .menu-section {
    position: relative;
    height: 8 * $spacer;
  }

  .site-logo-mobile {
    width: 94px;
    background-image: url("../images/logo-mobile.svg");
    position: relative;
    height: $mobile-logo-height;
    top: calc(50% - (#{$mobile-logo-height}/2)); // center vertically
    margin-left: $column;
  }

  .color-section {
    .content {
      padding-top: 6 * $spacer;
      padding-bottom: 6 * $spacer;
      // margin-right: 2.5 * $column;

      .page-title-section {
        padding-left: 2 * $spacer;
        .title {
          font-size: 14px;
          line-height: 1; // 77px; need to align border-left to text top
          padding-bottom: 3 * $spacer;
        }
        
        .subtitle {
          max-width: 280px;
          font-size: 36px;
          line-height: 40px
        }
      }

      .headline {
        max-width: 340px;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: -1px;
        padding-bottom: 3 * $spacer;
      }
    }
    .branding {
      display: none;
    }
  }
  
  //\\//\\//\\//\\/ TABLET (and larger) /\\//\\//\//
  @media screen and (min-width: $md-start) {
    flex-direction: row; // so color section comes first

    .menu-section {
      height: 6 * $spacer;
    }

    .site-logo-mobile {
      display: none;
    }

    .image-section {
      flex: $image-section-flex;
    }
    
    .color-section {
      flex: $color-section-flex;
      .content {
        padding-top: 0;
        padding-bottom: 6 * $spacer;
        .page-title-section {
          .title {
            font-size: 20px;
          }
        }
        .headline {
          font-size: 36px;
          line-height: 40px;
          letter-spacing: -2px;
        }
      }  
      .branding {
        display: block;
        padding-top: $spacer / 2;
      }
    }
  }

  //\\//\\//\\//\\/ DESKTOP /\\//\\//\//
  @media screen and (min-width: $xl-start) {
    .menu-section {
      height: 10 * $spacer;
    }

    .color-section {
      .content {
        padding-bottom: 10 * $spacer;
        
        .page-title-section {
          padding-left: 3 * $spacer;
          .subtitle {
            max-width: 520px;
            font-size: 60px;
            line-height: 65px
          }
          .title {
            padding-bottom: 4 * $spacer;
          }
        }

        .headline {
          max-width: 520px;
          font-size: 50px;
          line-height: 55px;
          padding-bottom: 4 * $spacer;
        }
      }  
      .branding {
        display: block;
        padding-top: 2 * $spacer;
      }
    }
  }

  // _______________END RESPONSIVE SIZING_______________ //
  

  position: relative;
  display: flex;
  padding-left: 0; //
  padding-right: 0; //
  
  .color-section {
    padding-left: $column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .branding { 
      @include horizontal-branding-styles;
    }

    .content {

      .page-title-section {
        border-left: 4px solid $cinnabar;
        
        .title {
          // _figma_
          font-weight: $font-weight-light;
          /* or 387% */
          color: $firefly;
          // _______          
        }
        
        .subtitle {
          // _figma_
          font-weight: $font-weight-bold;
          /* or 108% */
          letter-spacing: -2px;
          // _______
        }
      }

      .headline {
        font-weight: $font-weight-bold;
      }
    }
  }


  .image-section {
    .menu-section {
      // _figma_
      font-weight: $font-weight-light;
      font-size: 14px;
      line-height: $menu-height;
      /* or 150% */
      color: $firefly;        
      // _______
  
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      .menu-component {
        position: absolute;
        right: $column;
        top: calc(50% - (#{$menu-height}/2)); // center vertically
      }
    }

    .hero-image {
      width: 100%;
    }
  }

}

$content-width-md: $hero-wide-img-width-md;
$content-width-xl: $hero-wide-img-width-xl;

.hero-wide {
  // styles for only wide hero

  .menu-section {
    // _figma_
    font-weight: $font-weight-light;
    font-size: 14px;
    line-height: $menu-height;
    color: $firefly;        
    // _______

    height: 8 * $spacer;
    @include media-breakpoint-up(md) {
      height: 6 * $spacer;
    }
    @include media-breakpoint-up(xl) {
      height: 10 * $spacer;
    }

    .menu-component {
      position: absolute;
      right: $column;
      top: calc(50% - (#{$menu-height}/2)); // center vertically
    }
  }

  .branding-mobile {
    width: 94px;
    background-image: url("../images/logo-mobile.svg");
    position: relative;
    height: $mobile-logo-height;
    top: calc(50% - (#{$mobile-logo-height}/2)); // center vertically
    margin-left: $column;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .branding-md-up {
    margin-left: $column;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      padding-top: .5 * $spacer;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 2 * $spacer;
    }
    @include horizontal-branding-styles;
  }

  .image-section {
    img {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      margin-left: $column;
      // padding-right: 2 * $column;
      width: $hero-wide-img-width-md;
    }
    @include media-breakpoint-up(xl) {
      // padding-right: 4 * $column;
      width: $hero-wide-img-width-xl;
    }
  }

  .color-section {
    display: flex;
    flex-direction: column-reverse;
    @include media-breakpoint-up(md) {
      flex-direction: column;
    }

    .content {
      padding-top: 6 * $spacer;
      padding-bottom: 6 * $spacer;
      
      // width: 9 * $column;
      @include media-breakpoint-only(xs) {
        // control larger widths with width rather than margin
        // (as their widths translate to the background gradient) 
        margin-right: $column;
      }
      @include media-breakpoint-up(md) {
        padding-top: 9 * $spacer;
        padding-bottom: 8 * $spacer;
        // padding-left: $column;
        width: $content-width-md;
        width: $content-width-xl;
      }
      @include media-breakpoint-up(xl) {
        padding-top: 7 * $spacer;
        padding-bottom: 10 * $spacer;
        width: $content-width-xl;
      }

      .page-title-section {
        border-left: 4px solid $cinnabar;
        padding-left: 2 * $spacer;
        @include media-breakpoint-up(xl) {
          padding-left: 3 * $spacer;
        }

        .title {
          font-size: 14px;
          font-weight: $font-weight-light;
          color: $firefly;
          line-height: 1; // 77px; need to align border-left to text top
          
          padding-bottom: 2 * $spacer;
          @include media-breakpoint-up(md) {
            padding-bottom: 3 * $spacer;
          }
          @include media-breakpoint-up(xl) {
            padding-bottom: 5 * $spacer;
            font-size: 20px;
          }

        }
        
        .subtitle {
          font-weight: $font-weight-bold;
          letter-spacing: -2px;

          font-size: 26px;
          line-height: 30px;
          @include media-breakpoint-up(md) {
            font-size: 36px;
            line-height: 40px
          }
          @include media-breakpoint-up(xl) {
            font-size: 50px;
            line-height: 55px
          }
        }
      }
    }
  }
}

#hero {
  // styles for BOTH hero types
  .dallas-isd {
    @include dallas-isd-styles;
  }
}