// $lg-padding-left: calc(100% / 7);

$color-section-flex: 350px 10 7; // 7
$image-section-flex: 250px 5 5;

// TODO: why? (to line up with side-menu)
$extra-margin: 15px;

$menu-height: 21px;
$mobile-logo-height: 38px;

.hero {

  // _______________RESPONSIVE SIZING_______________ //

  //\\//\\//\\//\\/ MOBILE (and larger) /\\//\\//\//
  flex-direction: column-reverse; // so image section is on top
  
  .menu-section {
    position: relative;
    height: 8 * $spacer;
  }

  .site-logo-mobile {
    width: 94px;
    background-image: url("../images/logo-mobile.svg");
    position: relative;
    height: $mobile-logo-height;
    top: calc(50% - (#{$mobile-logo-height}/2)); // center vertically
    margin-left: calc(#{$column} + #{$extra-margin});
  }

  .color-section {
    .content {
      padding-top: 6 * $spacer;
      padding-bottom: 6 * $spacer;
      // margin-right: 2.5 * $column;

      .page-title-section {
        padding-left: 2 * $spacer;;
        .title {
          font-size: 14px;
          line-height: 1; // 77px; need to align border-left to text top
          padding-bottom: 3 * $spacer;
        }
        
        .subtitle {
          max-width: 280px;
          font-size: 36px;
          line-height: 40px
        }
      }

      .headline {
        max-width: 340px;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: -1px;
        padding-bottom: 3 * $spacer;
      }
    }
    .branding {
      display: none;
    }
  }
  
  //\\//\\//\\//\\/ TABLET (and larger) /\\//\\//\//
  @media screen and (min-width: $md-start) {
    flex-direction: row; // so color section comes first

    .menu-section {
      height: 6 * $spacer;
    }

    .site-logo-mobile {
      display: none;
    }

    .image-section {
      flex: $image-section-flex;
    }
    
    .color-section {
      flex: $color-section-flex;
      .content {
        padding-top: 0;
        padding-bottom: 6 * $spacer;

        .page-title-section {
          .title {
            font-size: 20px;
          }
        }

        .headline {
          font-size: 36px;
          line-height: 40px;
          letter-spacing: -2px;
        }
      }  
      .branding {
        display: block;
        padding-top: $spacer / 2;
      }
    }
  }

  //\\//\\//\\//\\/ DESKTOP /\\//\\//\//
  @media screen and (min-width: $xl-start) {
    .menu-section {
      height: 10 * $spacer;
    }

    .color-section {
      .content {
        padding-bottom: 10 * $spacer;
        
        .page-title-section {
          padding-left: 3 * $spacer;;
          .subtitle {
            max-width: 520px;
            font-size: 60px;
            line-height: 65px
          }
          .title {
            padding-bottom: 4 * $spacer;
          }
        }

        .headline {
          max-width: 520px;
          font-size: 50px;
          line-height: 55px;
          padding-bottom: 4 * $spacer;
        }
      }  
      .branding {
        display: block;
        padding-top: 2 * $spacer;
      }
    }
  }

  // _______________END RESPONSIVE SIZING_______________ //
  

  position: relative;
  display: flex;
  padding-left: 0; //
  padding-right: 0; //
  
  .color-section {
    padding-left: $column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .branding { 
      .site-logo {
        width: 18px;
        height: 28px;
        background-image: url("../images/logomark.svg");
        position: relative;
        top: 7px;
        margin-right: 5px;
      }
      
      .site-title {
        // _figma_
        font-size: 15px;
        line-height: 15px;
        /* or 100% */
        color: #292D33;
        mix-blend-mode: normal;
        // _______
      }
    }

    .content, .branding {
      margin-left: $extra-margin;
    }
    .content {

      .page-title-section {
        border-left: 4px solid #E55934;
        
        .title {
          // _figma_
          font-weight: 300;
          /* or 387% */
          color: #08131F;
          // _______          
        }
        
        .subtitle {
          // _figma_
          font-weight: 500;
          /* or 108% */
          letter-spacing: -2px;
          color: #000000;
          // _______
        }
      }

      .headline {
        font-weight: 500;
      }
    }
  }


  .image-section {
    .menu-section {
      // _figma_
      font-weight: 300;
      font-size: 14px;
      line-height: $menu-height;
      /* or 150% */
      color: #08131F;        
      // _______
  
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      .menu {
        position: absolute;
        right: $column;
        top: calc(50% - (#{$menu-height}/2)); // center vertically
        .menu-icon {
          width: 20px;
          height: 9px;
          margin-right: 4px;
          background-image: url("../images/menu-icon.svg");
        }
      }
    }

    img {
      width: 100%;
      padding-top: 100%; // gives 1-1 aspect ratio
      background-size: 100%;
    }
  }

}