#home-page {
  $inter-spacer-xs: 8 * $spacer;
  $inter-spacer-md: 11 * $spacer;
  $inter-spacer-xl: 14 * $spacer;
  
  $text-panel-buffer: .7 * $column;
  $text-panel-buffer-sm: 1 * $column;

  img {
    width: 100%;
  }

  #page, .cre-rect, .carousel-section {
    margin-top: $inter-spacer-xs;
    margin-bottom: $inter-spacer-xs;
    @include media-breakpoint-up(md) {
      margin-top: $inter-spacer-md;
      margin-bottom: $inter-spacer-md;
    }
    @include media-breakpoint-up(xl) {
      margin-top: $inter-spacer-xl;
      margin-bottom: $inter-spacer-xl;
    }
  }


  #hero {
    .color-section {
      background: $old-lace;

      flex: 350px 7 7; // gives more vert space for text to take up 
    }

    .emphasis {
      color: $cinnabar;
    }

    .content {
      padding-bottom: 5 * $spacer;
      .page-title-section {
        .subtitle {
          max-width: unset;
          margin-right: 2 * $column;
          @include media-breakpoint-up(md) {
            margin-right: .8 *  $column;
            font-size: 30px;
            line-height: 36px;
          }
          @include media-breakpoint-up(xl) {
            margin-right: .8 * $column;
            font-size: 50px;
            line-height: 55px;
            max-width: 560px;
          }
        }
      }
    }
    .caption {
      font-size: 14px;
      line-height: 1.5;
      font-weight: $font-weight-light;
      
      margin-right: 2 * $column;
      margin-top: 2 * $spacer;
      margin-bottom: 6 * $spacer;
      @include media-breakpoint-up(md) {
        margin-right: $column;
        margin-top: 3 * $spacer;
        margin-bottom: 0;
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
        margin-right: 2 * $column;
        margin-top: 4 * $spacer;
        margin-bottom: 10 * $spacer;
      }
    }

    .down-arrow {
      stroke: $cinnabar;
      @include media-breakpoint-only(md) {
        display: none;
      }
    }
  }


  .image-by-quote {
    @include media-breakpoint-only(xs) {
      margin-bottom: 6 * $spacer;
    }
  }

  .quote {
    @include quote-styles;
  }

  .quote-with-image { 
    display: flex;

    .quote {
      @include quote-margin-padding-styles;
      margin: 0 !important;
      @include media-breakpoint-up(md) {
        padding-right: 0 !important;
      }
      
      @include media-breakpoint-up(xl) {
        // padding-right: $column !important;
      }
    
      background: $bridal-heath;
      display: inline-block;
      .text {
        border-color: $cinnabar !important;
      }
    }

    .image-wrapper {
      display: inline-block;

      img {
        position: relative;
      }
    }

    @include media-breakpoint-only(xs) {
      flex-direction: column-reverse;
      .quote {
        width: 100%;
        padding-top: 8 * $spacer;
      }
      .image-wrapper {
        margin-left: 2 * $column;
        width: 8 * $column;
        img {
          top: 4 * $spacer;
        }
      }
    }
    @include media-breakpoint-up(md) {
      background: $bridal-heath;
      .quote {
        flex-basis: 5.5 * $column;
      }
      .image-wrapper {
        flex-basis: 4 * $column;
        img {
          top: calc((28 * #{$spacer}) - (2 * #{$column}));
          left: 1 * $column;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      .quote {
        flex-basis: 6 * $column;
      }
      .image-wrapper {
        flex-basis: 3 * $column;
        img {
          top: -5 * $spacer;
        }
      }
    }

  }

  .image-over-quote {
    margin-bottom: 4 * $spacer;
    @include media-breakpoint-up(md) {
      margin-bottom: 5 * $spacer;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 6 * $spacer;
    }
  }

  .cre-rect {
    position: relative;
    .bg-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-image: url("../images/map-rect.png");
      background-size: contain;
    }
    .content {
      background:transparentize($green-white, .25);

      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-top: 8 * $spacer;
      padding-bottom: 8 * $spacer;
      @include media-breakpoint-up(md) {
        padding-top: 10 * $spacer;
        padding-bottom: 10 * $spacer;
      }
      @include media-breakpoint-up(xl) {
        padding-top: 12 * $spacer;
        padding-bottom: 12 * $spacer;
      }

      .text {
        text-align: center;

        h1 {
          margin-left: 1 * $column;
          margin-right: 1 * $column;
          font-size: 26px;
          @include media-breakpoint-up(md) {
            font-size: 30px;
          }
          @include media-breakpoint-up(xl) {
            font-size: 50px;
          }
          font-weight: $font-weight-bold;
        }
        .description {
          font-size: 16px;
          margin: 2 * $spacer auto;
          width: 8 * $column;
          @include media-breakpoint-up(md) {
            width: 6 * $column;
            font-size: 18px;
            margin: 3 * $spacer auto;
          }
          @include media-breakpoint-up(xl) {
            width: 4 * $column;
            margin: 5 * $spacer auto;
            // font-size: 18px;
          }
          font-weight: $font-weight-light;
          line-height: 1.5;
        }
        .go-to {
          font-size: 15px;
          @include media-breakpoint-up(md) {
            font-size: 16px;
          }
          color: $cinnabar;
          stroke: $cinnabar;
        }
      }
    }
  }

  .custom-carousel {
    display: flex;

    img {
      width: 100%;
    }

    .caro-text-panel {
      position: relative;
      background: $deluge;
      padding: $text-panel-buffer;

      .controls {
        
        svg {
          cursor: pointer;
        }

        .arrows {
          stroke: $white;
          position: absolute;
          bottom: $text-panel-buffer;
          right: $text-panel-buffer;

          .right-arrow-md {
            padding-left: 3 * $spacer;
          }
        }

        .eclipses {
          position: absolute;
          bottom: $text-panel-buffer;
          left: $text-panel-buffer;

          .eclipse {
            padding-right: 1 * $spacer;
            circle {
              fill: $fog;
            }
            &.active circle {
              fill: $white;
            }
          }
        }
      }

      .statistics {
        position: relative;
      }
      .statistic {
        margin-bottom: 3 * $spacer;
        
        .number {
          font-size: 88px;
          @include media-breakpoint-up(xl) {
            font-size: 144px;
          }
          line-height: 1;
          color: $fog;
          font-family: "Morganite Bold";
        }

        .percent {
          font-size: 24px;
          padding-left: .5 * $spacer;
          @include media-breakpoint-up(xl) {
            font-size: 30px;
            padding-left: 1 * $spacer;
          }
          color: $fog;
          font-family: "Morganite Bold";
          vertical-align: top;
        }

        .text {
          // so staistic texts align with each other, and wrap properly (not below number)
          position: absolute;
          left: 8 * $spacer;
          font-size: 16px;
          @include media-breakpoint-up(xl) {
          left: 14 * $spacer;
            font-size: 20px;
          }
          line-height: 1.2;
          font-weight: $font-weight-light;
          color: $steel-gray;
          vertical-align: top;

          @include media-breakpoint-up(xl) {
            margin-right: 2 * $text-panel-buffer;
          }
        }
      }
    }

    // layout
    @include media-breakpoint-down(xs) {
      flex-direction: column;
      
      .caro-text-panel {
        flex-basis: calc(#{$column} * 7);
        padding: $text-panel-buffer-sm;
        .controls {
          .eclipses {
            bottom: $text-panel-buffer-sm;
            left: $text-panel-buffer-sm;
          }
          .arrows {
            bottom: $text-panel-buffer-sm;
            right: $text-panel-buffer-sm;
          }
        }
      }
    }
    
    @include media-breakpoint-up(md) {
      .carousel.slide {
        flex-basis: calc(100vw * 6.5 / 12);
      }
      .caro-text-panel {
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }
}