// todo standardize page id
#isd-page {
  $hero-color: $bridal-heath;

  p {
    // TODO top level style?
    color: $turtle-green;
  }

  #page {
    margin-top: 8 * $spacer;
    @include media-breakpoint-up(md) {
      margin-top: 10 * $spacer;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 15 * $spacer;
    }
  }

  .hero-wide {
    .page-title-section {
      border: none;
      padding-left: 0;
    }
    
    // TODO mixin
    .color-section {
      background: $hero-color;

      @include media-breakpoint-up(md) {
        // for md plus, add white bg behind lower part of img
        $white-bg-proportion: 0.55; // <- tune 0-1 to control how far from img bottom background color ends
        $cutoff: (1/2) * $hero-wide-img-width-md * $white-bg-proportion; // 1/2 ~ image aspect ratio
        background: linear-gradient(0deg, transparent 0, transparent $cutoff, $hero-color $cutoff);
      }
      
      @include media-breakpoint-up(xl) {
        // same as above, different img width (so different $cutoff)
        $white-bg-proportion: 0.55; // <- tune 0-1 to control how far from img bottom background color ends
        $cutoff: (1/2) * $hero-wide-img-width-xl * $white-bg-proportion; // 1/2 ~ image aspect ratio
        background: linear-gradient(0deg, transparent 0, transparent $cutoff, $hero-color $cutoff);
      }
    }
    .menu-section {
      @include media-breakpoint-up(md) {
        background: $hero-color;
      }
    }
  }

  .section {
    .title {
      font-weight: $font-weight-bold;
      letter-spacing: -0.01em;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 6 * $spacer; // only impacts xs

      @include media-breakpoint-up(xl) {
        font-size: 30px;
        line-height: 36px;
      }

    }

    .paragraphs {
      p {
        font-weight: $font-weight-lighter;
        color: $boulder;
        font-size: 15px;
        line-height: 22px;
        @include media-breakpoint-up(xl) {
          font-size: 16px;
          line-height: 24px;
        }

        &:not(:last-of-type) {
          padding-bottom: 3 * $spacer;
        }
      }
    }
  }

  .quote {
    @include quote-styles;

    margin-top: 6 * $spacer;
    margin-bottom: 6 * $spacer;
    padding-top: 7 * $spacer;
    padding-bottom: 7 * $spacer;
    padding-left: $column;
    padding-right: $column;
    @include media-breakpoint-up(md) {
      margin-top: 8 * $spacer;
      margin-bottom: 8 * $spacer;
      padding-top: 9 * $spacer;
      padding-bottom: 9 * $spacer;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 10 * $spacer;
      margin-bottom: 10 * $spacer;
      padding-top: 11 * $spacer;
      padding-bottom: 11 * $spacer;
      padding-right: 2 * $column;
    }
  }

}