
// __@mixins for shared styles (consider all instances before modifying)____

@mixin dallas-isd-styles {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .text {
    text-align: center;
    color: $orange-roughy;
    transform: rotate(-90deg); // translate?
    // display: block;
    white-space: nowrap;

    font-weight: $font-weight-bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 14px;
    }
  }
}

@mixin horizontal-branding-styles {
  .site-logo {
    width: 18px;
    height: 28px;
    background-image: url("../images/menu-logo.svg");
    position: relative;
    top: 7px;
    margin-right: 5px;
    margin-right: 8px;
     // updating per A's request, may change back

  }
  
  .site-title {
    // _figma_
    font-size: 15px;
    font-weight: $font-weight-light;
    line-height: 15px;
    /* or 100% */
    color: $shark;
    mix-blend-mode: normal;
    // updating per A's request, may change back
    color: #484e56;
    font-weight: 400;  
    // _______
  }
}

@mixin quote-styles {

  .superheading {
    font-family: Louize Display;
    font-style: italic;
    color: #E94F34;
    font-size: 16px;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
  .text {
    font-family: Louize Display;
    font-weight: $font-weight-bold;
    font-size: 26px;
    line-height: 30px;
    
    @include media-breakpoint-up(xl) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .attribution {
    letter-spacing: 0.02em;
    font-weight: $font-weight-lighter;
    font-size: 14px;
    line-height: 24px;
  }

  &.light {
    background: $bridal-heath;

    .text {
      border-top: 4px solid $cinnabar;
      border-bottom: 4px solid $cinnabar;

      padding-top: 4 * $spacer;
      padding-bottom: 4 * $spacer;
      margin-bottom: 2 * $spacer;
      
      @include media-breakpoint-up(md) {
        padding-top: 5 * $spacer;
        padding-bottom: 5 * $spacer;
        margin-bottom: 3 * $spacer;
      }
      @include media-breakpoint-up(xl) {
        padding-top: 6 * $spacer;
        padding-bottom: 6 * $spacer;
      }
    }
  }

  &.dark {
    background: $green-white;

    &:not(.no-border) .text {
      padding-left: 3 * $spacer;
      border-left: 4px solid $deluge;
    }

    .text {
      .attribution {
        padding-top: 3 * $spacer;
        
        @include media-breakpoint-up(xl) {
          padding-top: 5 * $spacer;
        }
      }
    }
  }

  &.no-bg {
    background: unset !important; // light/dark classes still used for layout styles
  }
}

@mixin quote-margin-padding-styles {
  margin-top: 6 * $spacer;
  margin-bottom: 6 * $spacer;
  padding-top: 7 * $spacer;
  padding-bottom: 7 * $spacer;
  padding-left: $column;
  padding-right: $column;
  @include media-breakpoint-up(md) {
    margin-top: 8 * $spacer;
    margin-bottom: 8 * $spacer;
    padding-top: 9 * $spacer;
    padding-bottom: 9 * $spacer;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 10 * $spacer;
    margin-bottom: 10 * $spacer;
    padding-top: 11 * $spacer;
    padding-bottom: 11 * $spacer;
    padding-right: 2 * $column;
  }
}

@mixin faq-question-styles {
  .question-text {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding-top: $q-breath;
    padding-bottom: $q-breath;
    border-bottom: 1px solid black;

    &:hover {
      color: $chalet-green;
    }      
    &:not(:hover) .expander-icon {
      // can't set stroke of svg in img w/CSS, so it's set to hover color and we make it black when not hovered like so:
      filter: brightness(0) grayscale(1);
    }

    .text {
      position: relative;
      display: block; // at least for sm to keep + right
      padding-right: 3 * $spacer;
      .expander-icon {
        width: 13px;
        height: 13px;
        position: absolute;
        right: 0;
        top: 9px;
        &.expanded {
          top: 15px;
          height: 1px;
        }
      }
    }
  }
  .question-body {
    font-size: 15px;
    line-height: 22px;
    font-weight: $font-weight-light;
    color:  $dk-gray;
    mix-blend-mode: normal;

    padding-top: $q-breath;
    padding-bottom: $q-after-breath;

    a {
      color:rgb(212, 68, 28);
    }
    img {
      max-width: 100%;
      margin: 3.2rem 0;
    }
  }

  &:last-of-type {
    &:not(.expanded) .question-text {
      border-bottom: unset;
    }

    &.expanded .question-body {
      padding-bottom: $q-breath; // so that total padding calculates correctly
    }
  }
  
  @include media-breakpoint-up(md) {
    max-width: 512px;  
  }
  @include media-breakpoint-up(xl) {
    .question-text {
      font-size: 18px;
      line-height: 27px;
    }
    .question-body {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@mixin blog-post-section-styles {
  // TODO remove !important (clashes with p-0 in home)
  padding-bottom: 6 * $spacer !important;

  .post-image {
    // TODO responsivize on refactor (5spacer on xl)
    margin-right: 2 * $gutter;
    // center photo vertically when smaller than details
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .post-details {
    // center details vertically when smaller than photo
    margin-top: auto;
    margin-bottom: auto;

    .post-title {
      font-weight: $font-weight-bold;
      letter-spacing: -1px;
      color: $firefly;
      
      padding-top: 3 * $spacer;
      font-size: 24px;
    }
    .post-contents {
      font-weight: $font-weight-light;
      color: $firefly;
      mix-blend-mode: normal;
      opacity: 0.5;

      font-size: 15px;
      padding-top: 3 * $spacer;
      padding-bottom: 3 * $spacer;
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 5 * $spacer;

    .post-details {
      .post-title {
        padding-top: 0;
      }
      .post-contents {
        padding-bottom: 2 * $spacer;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 8 * $spacer;
  
    .post-details {
      .post-title {
        font-size: 30px;
      }
      .post-contents {
        font-size: 16px;
        padding-bottom: 4 * $spacer;
      }
    }
  }
}

.load-more button {
  font-size: 14px;
  letter-spacing: 0.22px;
  padding: $spacer 4*$spacer;

  @include media-breakpoint-up(xl) {
    font-size: 16px;
    padding: 1.5*$spacer 5*$spacer;
  }
}

.recent {
  font-size: 14px;
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }

  font-weight: $font-weight-light;
  color: $firefly;

  .custom-underline {
    display: inline-block;
    border-bottom: 4px solid $cinnabar;
    
    padding-bottom: 2 * $spacer;
    margin-bottom: 4 * $spacer;
    @include media-breakpoint-up(md) {
      padding-bottom: 3 * $spacer;
      margin-bottom: 5 * $spacer;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 4 * $spacer;
      margin-bottom: 8 * $spacer;
    }
  }
}

// ______________________________________