.school-page {
  .school-hero {
    position: relative;
    .map-section {
      min-height: 300px;
      cursor: default;
      .map-parent {
        & > div {
          cursor: default !important;
        }
      }
    }
  }
  .row {
    &.school-metadata,
    &.custom-feeder-prose {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &.school-metadata {
      margin-top: 3rem;
      h2 {
        font-size: 2.8rem;
      }
      .metric-collection {
        h4 {
          font-size: 2rem;
        }
      }
    }
    &.custom-feeder-prose {
      font-weight: 300;
      font-size: 1.4rem;
    }
  }
  .row-metric-group {
    &:last-of-type {
      margin-bottom: 6rem;
    }
    .metric-collection {
      display: flex;
      flex-wrap: wrap;
      .metric-group {
        padding: 1rem 0;
        width: 100%;
        h6 {
          font-size: 1.4rem;
          padding-bottom: 0.6rem;
        }
        @include media-breakpoint-up(md) {
          width: 49%;
          flex: 0 0 49%;
          // padding: 0;
          // &:nth-child(odd) {
          //   padding-right: 2rem;
          // }
        }
        .n-i-scale {
          width: 92%;
        }
      }
      h5 {
        padding: 2rem 0 1rem;
        width: 100%;
        flex: 0 0 100%;
        font-size: 2rem;
      }
      &.metric-collection-header {
        h6 {
          font-size: 1.6rem;
        }
      }
    }
  }
  // General styling for the scale
  .metric-group {
    .n-i-scale .n-i-scale-minmax {
      margin-top: 0px;
    }
    .n-i-scale-hash {
      top: -3px !important;
    }
    .n-i-scale .n-i-scale-parent .n-i-scale-quintiles:after {
      top: 6px;
    }
    .n-i-scale
      .n-i-scale-parent
      .n-i-scale-quintiles
      .n-i-scale-quintile.quintile-0:before,
    .n-i-scale
      .n-i-scale-parent
      .n-i-scale-quintiles
      .n-i-scale-quintile.quintile-4:after {
      top: 1px;
    }
  }
  @media print {
    * {
      -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
      color-adjust: exact !important; /*Firefox*/
    }
  }
}
