.sign-up-bar {
  // background: $old-lace;

  .content {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    max-width: 1400px;

    // margin-left: auto;
    // margin-right: auto;
    margin-left: $column;
    margin-right: $column;

    padding-top: 5 * $spacer;
    padding-bottom: 5 * $spacer;
    border-top: .5px solid #CFD2C0;
  
    .email-input-wrapper {
      flex-basis: 150px;
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 250px;
      
      margin-right: 2 * $spacer;
      
    }
    
    @include media-breakpoint-only(xs) {
      flex-direction: column;
      
      .email-label {
      }
      .email-input-wrapper {
        // margin-top: 2 * $spacer;
        // margin-bottom: 3 * $spacer;
        // width: 225px;
      }
      .feedback {
        bottom: -15px;
      }

      .funder-wrapper {

        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4 * $spacer;
      }
    }
    
    @include media-breakpoint-up(md) {
      padding-top: 8 * $spacer;
      padding-bottom: 8 * $spacer;
      .email-label {
        // flex-basis: 225px;
        // flex-grow: 2;
        // flex-shrink: 0;
        // max-width: 450px;
        
        // margin-right: 5 * $spacer;
      }

      .custom-link {
        
      }
    }
    
    @include media-breakpoint-up(xl) {
      padding-top: 11 * $spacer;
      padding-bottom: 11 * $spacer;
    }

    .email-label {
      text-align: center;
      color: $cinnabar;
      font-size: 20px;
      margin-bottom: 0.8rem;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
        margin-bottom: 1.6rem;
      }
    }

    .email-inputs-row {
      display: flex;
    }
    
    .email-input-wrapper {
      position: relative;

      .email-input {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: solid 1px black;
        border-radius: 0;
        font-size: 1.6rem;
        padding-left: 2 * $spacer;
      }
      .feedback {
        position: absolute;
        bottom: -20px;
        color: $cinnabar;
        font-size: 10px;
      }
      .form-control {
        padding: 2.4rem 0.75rem;
      }
    }

    .custom-link {
      font-size: 16px;
      line-height: 22px;
      font-weight: $font-weight-light;
    }

    .no-break {
      display: inline-block;
    }

    .subscribe-wrapper {
      @include media-breakpoint-up(md){

        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 0;

        padding-right: 4 * $spacer;
      }
    }

    .funder-wrapper {

      @include media-breakpoint-up(md) {
        flex-basis: 250px;
        flex-grow: 0;
        flex-shrink: 0;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 320px;
      }

      a {
        padding-bottom: $spacer;
        width: 140px;

        display: block;
        margin-left: auto;
        margin-right: auto;

        img {
          width: 100%;
        }
      }
      .text {
        font-family: Louize Display;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #2C390B;

        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }
      }
    }
    
  }
}