#signup-page {
  margin-top: 14 * $spacer;

  h2 {
    margin-bottom: 3 * $spacer;
  }

  p {
    font-size: 16px;
    margin-bottom: 2 * $spacer;
  }

  .inline-submit {
    background: transparent;
    border: none;
    color: $cinnabar;
    // font-weight: bold;
    padding: 0;
  }

  label {
    font-size: 16px;
    margin-top: 1.5 * $spacer;

    &.required::after {
      content: "*";
      padding-left: 2px;
      color: $cinnabar;
    }
  }

  button {
    margin-top: 1.5 * $spacer;
  }
}