.sticky-header {
  position: fixed;
  transform: translate(0, -100%);
  transition: transform ease .4s;
  &.active {
    transform: none;
  }

  top: 0;
  left: 0;
  right: 0;
  height: $sticky-header-height;
  z-index: 101;
  
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 $column;

    .menu-component {
      margin-top: 17px;
      font-size: 16px;
      font-weight: $font-weight-light;
    }

    .branding {
      @include horizontal-branding-styles;
      margin-top: 8px;
    }
  }
}
