// _______________ COLORS _______________ //
// name with http://chir.ag/projects/name-that-color/#D8CCFF
$color-primary: #20232a; // comes with template

$white: #FFFFFF;
$bridal-heath: #FFFBF3;
$alabaster: #F7F7F7;
$old-lace: #FDF5E9;
$magnolia: #FBFAFF;
$green-white: #EBEDE3;
$alto: #D7D7D7;
$boulder: #757575;
$cape-cod: #3C4748;
$cod-gray: #181818;
$firefly: #08131F;
$black: #000000;

$tower-gray: #9DBAB7;
$flax-smoke: #818967;
$chalet-green: #4A6F34;
$turtle-green: #2C390B;
$shark: #292D33;
$steel-gray: #2A223A;
$cinnabar: #E94F34;
$orange-roughy: #D4441C; // consolidate with cinnabar?
$fog: #D8CCFF;
$deluge: #7768AE;

// _______________ SPACING _______________ //
// space elements in increments of .8rem (8px)
$spacer: .8rem;

// can be used with <Row noGutters /> to selectively add margins
// (and avoid shrinking column content)
$gutter: 16px;

// inside Cols that don't take up the full screen width,
// use $column to apply margins etc that are increments
// of the screen-scoped columns (helps to mirror figma layout)
$column: 8.333333vw; // 100/12

$sm-start: 320px;
$md-start: 768px;  //\\
$lg-start: 992px;
$xl-start: 1280px; //\\

$grid-breakpoints: (
  // WARNING: if we add another break beyond xs/md/xl, check any usages of media-breakpoint-only
  // e.g. adding lg would "cap" any instance of media-breakpoint-only(md) at lg rather than xl
  xs: 0,
  // sm: $sm-start,
  md: $md-start,
  // lg: $lg-start,
  xl: $xl-start,
);

$font-weight-bolder: 500;
$font-weight-bold: 400;
$font-weight-light: 300;
$font-weight-lighter: 200;

$hero-wide-img-width-md: 9 * $column;
$hero-wide-img-width-xl: 7 * $column;
$sticky-header-height: 64px; // keep in sync with stickyHeaderHeight in consts.js