$color-primary: #20232a;

$very-dark-green: #2C390B;
$dallas-red: #D4441C;

// space elements in increments of .8rem (8px)
$spacer: .8rem;

// can be used with <Row noGutters /> to selectively add margins
// (and avoid shrinking column content)
$gutter: 16px;

// inside Cols that don't take up the full screen width,
// use $column to apply margins etc that are increments
// of the screen-scoped columns (helps to mirror figma layout)
$column: 8.333333vw; // 100/12

$sm-start: 320px;
$md-start: 768px;  //\\
$lg-start: 992px;
$xl-start: 1280px; //\\

$grid-breakpoints: (
  xs: 0,
  sm: $sm-start,
  md: $md-start,
  lg: $lg-start,
  xl: $xl-start,
);