@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";
@import "hero";
@import "link";

@import "blog";
@import "faqs";

@font-face {
  font-family: "Halyard";
  src: url("../fonts/Halyard Text Regular.ttf") format("truetype");
}

* {
  font-family: Halyard;
}

//TODO: Move to _layout.scss?
.container-fluid.main {
  // TODO: why? 
  margin-left: -15px;
  // can't hide overflow! interferes with side-menu stickiness. side-menu => Portal??
  // overflow: hidden; 
}

.svg-base {
  // height: 100%;
  background-size: 100%;
  display: inline-block;
}

.inline-svg {
  display: inline-block;
  &.down-chevron {
    position: relative;
    bottom: 3px;
    left: 7px;
  }
}

html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}