@import "breakpoints";
@import "variables";
@import "mixins";

@import "layout";
@import "navbar";
@import "sticky-header";
@import "sign-up-bar";
@import "footer";
@import "hero";
@import "menu";
@import "custom-link";
@import "animatedscroll";

@import "about";
@import "blog";
@import "contact";
@import "data";
@import "faq";
@import "home";
@import "isd";
@import "school";
@import "signup";
@import "thank-you";

@import "~bootstrap/scss/bootstrap.scss";


@font-face {
  font-family: "Morganite Bold";
  src: url("../fonts/Morganite-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
// @font-face {
//   font-family: "Morganite Black";
//     src: url("../fonts/Morganite-Black.ttf") format("truetype");
//   font-style: normal;
//   font-weight: 500;
// }

* {
  font-family: halyard-text;
}
html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}

figure,
p {
  margin: 0;
}

.svg-base {
  // height: 100%;
  background-size: 100%;
  display: inline-block;
}

.inline-svg {
  display: inline-block;
  &.down-chevron {
    position: relative;
    bottom: 3px;
    left: 7px;
  }
}

a.logo-link {
  text-decoration: none;
}
